Magic 271485
Revision Verdi_U-2023.03-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 23 1920 1009 100 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/hsiang/Desktop/OOO/build/top.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 1181013.048867 1184303.039647
cursor 1181250.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 5

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/hsiang/Desktop/OOO/build/top.fsdb"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/CPU_wrapper/cpu/IF/IF_out_inst[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope IF_out_pc[31:0]
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/CPU_wrapper/ld_st_req_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope store_data[31:0]
addSignal -h 15 -holdScope store_handshake
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/hsiang/Desktop/OOO/build/top.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/top_tb"
"/top_tb/TOP"
"/top_tb/TOP/CPU_wrapper"
"/top_tb/TOP/CPU_wrapper/cpu"
"/top_tb/TOP/CPU_wrapper/cpu/IF"

SCOPE_LIST_BEGIN
"/top_tb"
"/top_tb/TOP/CPU_wrapper/cpu/EXE"
"/top_tb/TOP/CPU_wrapper/cpu/IF"
"/top_tb/TOP/CPU_wrapper/cpu/IS"
"/top_tb/TOP"
"/top_tb/TOP/CPU_wrapper"
"/top_tb/TOP/CPU_wrapper/cpu"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


